html {background-color: rgb(255, 154, 255)}
header {
font-size: 30px; 
}
header {
font-family: 'Courier New', Courier, monospace
}
header {
background-color: crimson
    }
header {
text-align: center
}
p {
color: black
}
footer {
    text-align: center
}
footer {
font-size: 25px
}
footer {
    background-color: brown
}
footer {

}
